:root {
  /* Dark Theme Color Palette */
  --clr-dark: 0, 0%, 0%;

  /* Light Theme Color Palette */
  --clr-light: 0, 0%, 100%;

  --clr-accent: #16e0bd;
  --clr-special: #24ff65;
  --clr-placeholder: rgb(3, 3, 3);
  --clrbg-blend: rgba(82, 23, 191, 0.568);
  --clr-hero: rgba(16, 11, 143, 0.901);

  --blend-type: hue;

  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3: 1.8rem;
  --fs-h4: 1.675rem;
  --fs-body: 1.6rem;
  --fs-special: 2.75rem;

  --br-100: 0.75rem;

  --ff-primary: "Ubuntu", sans-serif;
  --ff-secondary: "Bebas Neue", cursive;
  --ff-special: "Square Peg", cursive;

  --fw-bolder: 700;
  --fw-bold: 500;
  --fw-reg: 400;

  --ls-wider: 5px;
  --ls-normal: 3px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
section {
  padding: 18rem 0;
}
img {
  max-width: 100%;
  display: block;
}
:focus {
  outline: 3px solid rgb(144, 38, 38);
  outline-offset: 5px;
}
header {
  border: none;
  outline: none;
}
.scroll__up {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  bottom: 2.5%;
  left: 85%;
  border: none;
  animation: bounce 3s ease-in-out infinite;
}
.up__arrow {
  font-size: 4rem;
  color: orange;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* -------------------Reusable------------------- */
.sec__title {
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 5px;
  position: relative;
}
.button__tag--container {
  margin-block: 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-inline: auto;
}
.button__tag {
  background-color: var(--clr-accent);
  width: 16rem;
  margin: 0 auto;
  border: 3px solid hsl(var(--clr-light));
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  letter-spacing: 2px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bolder);
  font-size: var(--fs-body);
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  color: hsl(var(--clr-dark));
}
.button__tag--all:hover,
.button__tag--all:focus {
  background-color: hsl(var(--clr-light));
}
.container {
  width: 32rem;
  margin: 0 auto;
}
/* -------------------Header------------------- */
.sticky {
  position: fixed;
  width: 100%;
  background-color: var(--clr-placeholder);
  z-index: 999;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  position: relative;
  min-height: 13rem;
}
.logo {
  max-width: auto;
  transition: transform 0.5s ease-in-out;
  position: relative;
}
.logo:hover {
  transform: scale(1.125);
}
.logo::after {
  content: "";
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
.nav {
  position: absolute;
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav.open {
  transform: translateX(0%);
}
.nav__list {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  background-color: hsl(var(--clr-dark), 0.5);
}
.nav__link {
  font-size: var(--fs-special);
  text-decoration: none;
  padding: 2rem 3rem;
  letter-spacing: var(--ls-normal);
  color: hsl(var(--clr-light));
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  position: relative;
  transition: 0.2s all ease-in-out;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--clr-special);
}
.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0;
  bottom: 1rem;
  left: 0;
  height: 3px;
  background-color: var(--clr-special);
  transform: scale(0);
  transition: opacity 1s, transform 0.5s;
}
.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
}
/* -------------------Toggle Btn------------------- */
.toggle-btn {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  z-index: 50;
}
.bar,
.bar::before,
.bar::after {
  height: 5px;
  width: 40px;
  background-color: var(--clr-accent);
  border-radius: 5px;
  transition: 0.2s ease-in-out all;
}
.bar::before {
  content: "";
  position: absolute;
  transform: translate(-20px, -13px);
}
.bar::after {
  content: "";
  position: absolute;
  transform: translate(-20px, 13px);
}
.toggle-btn.open .bar {
  transform: rotate(0.625turn);
}
.toggle-btn.open .bar:before {
  transform: rotate(90deg) translate(0, 20px);
}
.toggle-btn.open .bar::after {
  background-color: transparent;
}
/* -------------------Hero------------------- */
.hero {
  padding-block: 18rem;
  text-align: center;
  background-image: url(imagesPortfolio/canvas.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  background-position: bottom left;
  background-blend-mode: var(--blend-type);
  background-color: var(--clrbg-blend);
}
.hero__message {
  text-align: left;
  font-size: var(--fs-h3);
  margin-bottom: 2rem;
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-light), 0.9);
  border-radius: var(--br-100);
  padding: 3rem 0;
}
.message__fixed--text {
  margin-left: 5rem;
  font-weight: var(--fw-bold);
}
.sec__subtitle--hero {
  list-style: none;
  position: relative;
  margin-left: 4rem;
}
.hero__lists {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--fs-special);
  font-family: var(--ff-secondary);
  position: absolute;
  top: -35px;
  left: 30%;
  color: var(--clr-hero);
  transition: all 0.5s ease-in-out;
}
.hero .container button:not(:last-child) {
  margin-bottom: 2rem;
}
.social__container--hero a {
  font-size: 4rem;
  color: inherit;
  margin-block: 0;
  position: relative;
}
.button__container {
  margin-bottom: 2rem;
}
.sub__content--hero {
  display: block;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 10px rgb(158, 39, 238);
}
/* Do something similar to the hover from the navbar */
.social__container--hero a::after,
.social__container--hero a::before {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  background-color: hsl(var(--clr-light));
  transform: scale(0);
  transition: opacity 1s, transform 0.5s;
}
.social__container--hero a::after {
  top: 0;
  left: 12.5%;
}
.social__container--hero a::before {
  bottom: 5px;
  left: 12.5%;
}
.social__container--hero a:hover::after,
.social__container--hero a:hover::before {
  transform-origin: center;
  transform: scale(1);
}
/* -------------------About------------------- */
.about__section--content {
  margin-bottom: 2rem;
  text-align: center;
}
.skill__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.button__tag--resume {
  display: block;
  margin-inline: auto;
  margin-top: 2rem;
  border: 3px solid hsl(var(--clr-dark));
}
.skill__task {
  margin-bottom: 1rem;
}
.skill__container {
  width: 100%;
  height: 8px;
  background-color: transparent;
  border: 2px solid #555;
  border-radius: var(--br-100);
  position: relative;
  box-shadow: 1px 1px 5px rgb(118, 169, 73);
}
.about__section--skill {
  font-weight: var(--fw-bolder);
  letter-spacing: 2px;
  font-family: var(--ff-secondary);
}
.skill__percentage {
  position: absolute;
  height: 8px;
  bottom: -2px;
  border-radius: var(--br-100);
  background-color: rgb(11, 11, 92);
}
/* -------------------Project------------------- */
.button__tag--html:hover,
.button__tag--html:focus {
  background: red;
}
.button__tag--css:hover,
.button__tag--css:focus {
  background: blue;
}
.button__tag--js:hover,
.button__tag--js:focus {
  background: green;
}
.my__project {
  background-image: url(./imagesPortfolio/canvasv2.png);
  background-size: cover;
  background-color: var(--clrbg-blend);
  background-blend-mode: var(--blend-type);
  background-repeat: no-repeat;
  background-position: center;
}
.proj__card {
  margin: 0 auto;
  margin-bottom: 1.6rem;
  border-radius: var(--br-100);
  background-color: hsl(var(--clr-dark), 0.05);
  max-height: 44rem;
  min-height: 44rem;
  max-width: 33rem;
}
.proj__card--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1rem;
}
.proj__img--container {
  border-radius: var(--br-100) var(--br-100) 0 0;
  min-height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(imagesPortfolio/backgroundVector.jpg);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj__img {
  width: 90%;
  opacity: 0.8;
  transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1), opacity 150ms linear;
}
.proj__img:focus {
  position: relative;
  z-index: 2;
}
.proj__img:hover,
.proj__img--container:focus .proj__img {
  transform: scale(1.2);
  opacity: 1;
}
.proj__content {
  padding: 2rem;
  background-color: hsl(var(--clr-light), 0.9);
  border-radius: 0 0 var(--br-100) var(--br-100);
}
.proj__content--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec__subtitle--content {
  font-family: var(--ff-secondary);
  letter-spacing: 3px;
}
.sec__title--proj {
  color: hsl(var(--clr-light));
}
.proj__link {
  text-decoration: none;
  font-weight: var(--fw-bolder);
  padding: 0.8rem 0.5rem 0.8rem 0;
  color: hsl(var(--clr-dark));
  transition: 0.25s ease-in-out;
  letter-spacing: 1px;
  position: relative;
}
.proj__link:hover {
  color: rgb(164, 55, 120);
  text-decoration: underline;
}
.proj__rank {
  font-weight: var(--fw-bolder);
}
.proj__content--sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 16rem;
  max-height: 16rem;
  margin-top: 1rem;
}
.proj__content--tool {
  display: flex;
  justify-content: space-between;
}
.proj__tool {
  font-weight: var(--fw-bold);
}
.html {
  color: red;
}
.css {
  color: blue;
}
.js {
  color: green;
}
/* -------------------Contact------------------- */
/* .sec__title--contact {
  margin-bottom: 4rem;
}
.form__container {
  padding: 3rem 0;
  margin: 0 auto;
}
input,
textarea {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid black;
  font-family: inherit;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: var(--fs-body);
  resize: none;
  outline: none;
  border-radius: 3px;
}
.input__subject {
  min-height: 8rem;
  max-height: 8rem;
}
.form__submit--btn {
  border: 3px solid hsl(var(--clr-dark));
} */
/* -------------------Footer------------------- */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__link {
  font-weight: var(--fw-bold);
  position: relative;
}
.footer__link:hover,
.social-list__link:hover {
  opacity: 0.75;
}
.footer__link::after {
  content: "";
  position: absolute;
  width: 50%;
  opacity: 0;
  bottom: -0.5em;
  left: 25%;
  height: 2px;
  background-color: var(--clr-accent);
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s;
}
.footer__link:hover::after,
.footer__link:focus::after {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
}
.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
}
.social-list__item {
  margin: 0 0.5em;
}
.social-list__link {
  padding: 0.5em;
}
@media screen and (min-width: 1000px) {
  :root {
    --fs-h1: 5.5rem;
    --fs-h2: 4rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2.125rem;
    --fs-body: 1.7rem;
    --fs-special: 2.15rem;
  }
  /* -------------------Header------------------- */
  .header__container {
    margin-inline: 5rem;
  }
  .sticky {
    opacity: 0.1;
    transition: 0.5s all ease-in-out;
  }
  .sticky:hover {
    opacity: 1;
  }
  .logo {
    transform: scale(1.2);
  }
  .logo:hover {
    transform: scale(1.25);
  }
  .nav {
    display: flex;
    position: initial;
    color: var(--clr-light);
    transform: translateX(0%);
  }
  .nav__list {
    flex-direction: row;
    background-color: initial;
    height: initial;
    position: initial;
  }
  .toggle-btn {
    display: none;
  }
  .hero {
    padding-block: 30rem 18rem;
  }
  .hero__lists {
    top: -50px;
    font-size: var(--fs-h2);
    left: 45%;
  }
  .message__fixed--text {
    margin-left: 30%;
  }

  .hero .button__tag {
    margin-inline: 3rem;
  }
  .button__container {
    margin-bottom: 0;
  }
  .about__inner--container {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  .about__section--content {
    text-align: left;
    max-width: 50%;
  }
  .about__section--skill {
    max-width: 40%;
  }
  .button__tag--resume {
    margin-inline: 0;
  }

  .button__tag {
    min-width: 13rem;
  }
  .button__tag--container {
    display: flex;
    justify-content: center;
    margin-block: 4rem;
  }
  .container {
    width: 70%;
  }
  .proj__card--container {
    margin: 0 auto;
  }
  /* form {
    max-width: 40%;
    margin-left: auto;
  }
  input,
  textarea {
    grid-column: 1/2;
    box-shadow: 0px 1px 3px #333;
  }
  .input__subject {
    min-height: 15rem;
    max-height: 15rem;
  } */
}
