* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.card {
  background-color: hsl(217, 19%, 24%);
  width: 22rem;
  min-height: 22rem;
  max-height: 100%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.advice__title {
  font-size: 16px;
  color: hsl(150, 100%, 66%);
  letter-spacing: 3px;
  margin-block: 2rem;
  text-transform: uppercase;
}
.advice__content {
  max-width: 90%;
  margin: 0 auto 1rem auto;
  font-weight: 800;
  color: #fff;
}
.divider {
  margin-bottom: 2.5rem;
}
.btn {
  position: absolute;
  left: 40%;
  bottom: -10%;
  margin-top: 2.5rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  border: none;
  z-index: inherit;
  transition: all 0.5s ease-in-out;
}
.btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-radius: 50%;
}
.btn img {
  cursor: pointer;
}
.btn:hover.btn::before {
  cursor: pointer;
  background-color: hsl(150, 100%, 66%);
  filter: blur(10px);
}
@media screen and (min-width: 850px) {
  .card {
    max-height: 22rem;
    width: 50rem;
  }
  .btn {
    left: 45.5%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
  background-color: hsl(217, 19%, 24%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
