* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #111939;
  font-family: "Ubuntu", sans-serif;
}
.container {
  max-width: 90%;
}
.content-display {
  background: linear-gradient(
    180deg,
    hsl(346deg 83% 51%) 41%,
    hsl(55deg 100% 50%) 100%
  );
  padding: 3rem 1rem;
  color: #fff;
}
.input {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 6rem;
}
.content-info {
  padding: 3rem 1rem;
  background-color: #eee;
  color: #000;
}
.content-info div:not(:last-child) {
  margin-bottom: 2rem;
}
.content-title {
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.content-output {
  color: #666;
}
